* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", serif;
  background-color: #f1f1f1;
  line-height: 1.5;
}

/* Typography */
h1,
h2 {
  font-weight: 500;
}
h3 {
  font-weight: 400;
}
p {
  font-family: "Open Sans", serif;
  font-size: 15px;
  line-height: 1.5;
}

/* Button */
button {
  font-family: "Oswald", serif;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  font-family: "Open Sans", serif;
  font-weight: 600;
  border: none;
}
.btn--light {
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
}
.btn--dark {
  background-color: #000;
  color: #fff;
}
/*  Alignment */

.flex {
  display: flex;
  gap: 25px;
}
.justify {
  justify-content: space-between;
}
.main-content {
  flex: 2;
}
.side-content {
  flex: 1;
}
.mt {
  margin-top: 30px;
}
/* Container */
.container--primary {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #cecece;
}
.container--secondary {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
}
/* Banner */
.banner__header {
  text-align: center;
  padding: 40px 0;
  background-color: #ffff;
}
.title {
  font-size: 48px;
  text-transform: uppercase;
}
.sub-title {
  font-size: 16px;
}
.sub-title--highlighted {
  background-color: black;
  color: white;
  font-weight: 600;
  padding: 2px 3px;
}

.banner__background {
  position: relative;
  width: 100%;

  margin: auto;
  overflow: hidden;
}

.banner__img img {
  display: block;
  width: 100%;
  height: auto;
}
.banner__background--content {
  position: absolute;
  top: 50%;
  margin-left: 30px;
}
.background__title {
  font-size: 64px;
  text-transform: uppercase;
}
.background__sub-title {
  font-size: 36px;
  letter-spacing: 4px;
}
.sub-title--white,
.title--white {
  color: white;
}
.btn--primary {
  padding: 12px 24px;
  color: #fff;
  color: #000;
  font-size: 16px;
}
.btn--danger {
  background-color: #f44336;
  color: #fff;
  border: none;
  width: 100%;
}

/* Card */
.card {
  width: 100%;
  background-color: #fff;
  max-width: 100%;
  padding: 30px;
}
.card__heading {
  text-align: center;
  padding-bottom: 20px;
}
.card__title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}
.card__sub-title {
  font-size: 18px;
}

.card__img img {
  display: block;
  height: auto;
  width: 100%;
}
.card__content {
  margin-top: 20px;
}
.card__btn {
  margin-top: 20px;
}

/* About Section */

.about__section {
  width: 100%;
  margin: 0 auto;
  background-color: #000;
}
.about__section img {
  display: block;
  width: 100%;
  filter: grayscale(75%);
}
.about__section__content {
  color: #fff;
  padding: 20px;
}

/* Aside */

.aside__title {
  background-color: #000;
  padding: 16px;
  color: #fff;
  font-size: 18px;
}

.popular-post__list,
.advertise__content,
.tags__lists,
.subscribe__content,
.inspirations__content {
  font-family: "Open Sans";
  background-color: #fff;
}
/* Popular Post */
.popular-post__list {
  display: flex;
  background-color: #fff;
  padding: 12px 15px;
}

.popular-post__list:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.popular-post__img img {
  width: 50px;
  margin-right: 15px;
}

/* advertise section */

.advertise__content {
  height: 250px;
  padding: 20px;
}
.advertise__placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f1f1f1;
}

/* Tags Section */
.tags__lists {
  padding: 12px 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}
.tags__list {
  font-size: 12px;
  padding: 5px;
  list-style: none;

  margin-bottom: 3px;
}
.tags--highlighted {
  background-color: black;
  color: white;
  font-size: 14px;
}

/* Inspirations */

.inspirations__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  padding: 20px;
}
.inspirations__img img {
  width: 200px;
}
.inspirations__img:not(:nth-last-child(-n + 2)) {
  margin-bottom: 20px;
}

/* Follow */
.follow__content {
  height: 75px;
  background-color: #fff;
}

/* Subscribe */
.subscribe__content {
  padding: 20px;
  font-size: 14px;
}
.subscribe__placeholder {
  margin: 10px 0;
  padding: 10px;
  display: block;
  font-size: 14px;
  border: 1px solid #ccc !important;
  width: 100%;
}

/* Navbar */
.navbar {
  background-color: #000;
  padding: 10px;
}
.navbar__link {
  margin: 0 10px;
  list-style: none;
}
.navbar__link i {
  color: white;
  font-size: 14px;
}
.navbar__contents {
  justify-content: space-between;
}
/* Footer */
.footer {
  background-color: #616161;
  padding: 32px;
  font-weight: 400;
}
.footer__text {
  display: block;
  font-family: "Open Sans";
  color: #ddd;
  font-size: 14px;
  margin-top: 30px;
}

/* Hover effect */
.btn--dark:hover {
  cursor: pointer;
  background-color: #616161;
}

/* Media Query for small screen ( 1024px ) */

@media only screen and (max-width: 769px) {
  .navbar {
    display: none;
  }
  .flex {
    display: block;
  }
  img {
    width: 100%;
    height: auto;
  }
  .background__title {
    display: none;
  }
  .background__sub-title {
    display: block;
  }
  .subscribe__section {
    margin-bottom: 30px;
  }
}
