<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSS GRID LAYOUT</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="fitness">
        <h1 class="title--main">Fitness</h1>
      </div>
      <div class="weight">
        <h2 class="title">Weight Training</h2>
        <p class="paragraph">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique
          quaerat in nesciunt repellendus consequuntur
        </p>
      </div>
      <div class="free-trial">
        <h2 class="title">7 Day Free Trial</h2>
        <p class="paragraph">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique
          quaerat in nesciunt repellendus consequuntur
        </p>
      </div>
      <div class="cardio font--dark">
        <h2 class="title">Cardio Workout</h2>
        <p class="paragraph">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique
          quaerat in nesciunt repellendus consequuntur
        </p>
      </div>
      <div class="programs">
        <h2 class="title">TRAINING PROGRAMS</h2>
      </div>
      <div class="agility">
        <h2 class="title">Agility Training</h2>
      </div>

      <div class="booking">
        <h2 class="title">Book a Session</h2>
        <form action="">
          <input type="text" placeholder="Name" />
          <input type="text" placeholder="Email Address" />
          <input type="text" placeholder="Message" />

          <button type="submit">Send Now</button>
        </form>
      </div>
      <div class="goal-setting">
        <h2 class="title">GOAL SETTING</h2>
        <p class="paragraph--space">WE DEVELOP A PLAN THAT WORKS FOR YOU</p>
      </div>
      <div class="get-started">
        <h2 class="title">Get Started</h2>
      </div>
    </div>
  </body>
</html>
